.profile {
  width: 400px;
  background-color: bisque;
  text-align: center;
  border-radius: 8px;
}
.description {
}
.avatar {
  width: 100px;
}
.name {
}
.tag {
}
.location {
}
.stats {
  display: flex;
}
.label {
}
.quantiy {
}
